.confirmWindow {
  display: flex;
  justify-content: space-between;
}

.orderConfirmBody {
  max-width: 500px;
}

.checkMarkIcon {
  font-size: 60px;
  color: green;
}

@media (max-width: 700px) {
  .confirmWindow {
    flex-wrap: wrap;
    justify-content: center;
  }
}