.cartSummaryWindow {
  background-color: dimgray;
  padding: 15px 25px;
  border-radius: 16px;
}

.promoLabel {
  display: flex;
  align-items: center;
}

.hidePromo {
  display: none;
}

.promoCheckMark {
  font-size: 30px;
}