.cartItemsContainer {
  max-width: 550px;
  margin-bottom: auto;
  background-color: dimgray;
  padding: 8px 10px;
  border-radius: 16px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cartItem div:nth-child(1) {
  display: flex;
  align-items: center;
}

.cartItem:not(:last-of-type) {
  margin-bottom: 30px;
}

.imageWrapper {
  max-width: 400px;
  margin-left: 10px;
}

.imageWrapper img {
  border-radius: 8px;
}

.infoWrapper {
  font-size: initial;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.btnWrapper {
  display: flex;
  align-items: center;
}

.btnWrapper h4 {
  margin: 0 10px
}

.infoWrapper h3,
.infoWrapper h4:not(.btnWrapper h4) {
  margin: 15px 0;
}

@media (max-width: 840px) {
  .cartItem {
    flex-wrap: wrap;
  }

  .infoWrapper {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }
}

@media (max-width: 500px) {
  .infoWrapper {
    flex-wrap: wrap;
  }
}