.cartItemsContainer {
  max-width: 700px;
  margin: auto;
  background-color: dimgray;
  padding: 15px 25px;
  border-radius: 16px;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cartItem:not(:last-of-type) {
  margin-bottom: 20px;
}

.imageWrapper {
  max-width: 400px;
  margin: 0 10px;
}

.imageWrapper img {
  border-radius: 8px;
}

.infoWrapper {
  font-size: initial;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.nameWrapper,
.btnWrapper {
  display: flex;
  align-items: center;
}

.nameWrapper h3,
.nameWrapper p {
  margin: 0;
}

.nameWrapper span,
.btnWrapper h4 {
  margin: 0 10px
}

@media (max-width: 600px) {
  .storeItem {
    flex-direction: column;
  }

  .infoWrapper {
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0;
    flex-wrap: wrap;
  }

  .infoWrapper button {
    flex-basis: 100%;
  }
}

@media (max-width: 460px) {

  .infoWrapper h3,
  .infoWrapper p,
  .infoWrapper h4 {
    flex-basis: 100%;
  }
}