.paymentWindow {
  display: flex;
  justify-content: space-between;
}

label[for='cardNumber'] {
  position: relative;
}

.cardImage {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 50px;
  height: 33px;
}