.paymentWindow {
  display: flex;
  justify-content: space-between;
}

.paymentFormWrapper {
  margin-right: 10px;
}

label[for='cardNumber'] {
  position: relative;
}

.cardImage {
  position: absolute;
  top: 5px;
  right: 50px;
  width: 50px;
  height: 33px;
}

@media (max-width: 700px) {
  .paymentWindow {
    flex-wrap: wrap;
    justify-content: center;
  }

  .paymentFormWrapper {
    margin-right: 0;
  }
}