.shippingWindow {
  display: flex;
  justify-content: space-between;
}

label[for=standardShipping],
label[for=expressShipping] {
  margin-bottom: 10px;
}

@media (max-width: 550px) {
  .shippingWindow {
    flex-wrap: wrap;
    justify-content: center;
  }
}